{% extends '@TravelDiaryInterface/_layout/base.html.twig' %}

{% block title %}My Trips{% endblock %}

{% block content %}

	<div class="row">
		<nav>
			<div class="nav-wrapper">
				<div class="col s12">
					<a href="{{ path('tripsOverview') }}" class="breadcrumb">My Trips</a>
				</div>
			</div>
		</nav>
	</div>

	<div class="row">
		<div class="col s12">
			<table class="responsive-table" data-source="{{ path('tripsOverview', {'page': page}) }}">
			</table>
		</div>
	</div>

	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('createTrip') }}"><i class="material-icons">add</i></a>
	</div>

{% endblock %}